<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/about.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="./bir.html">Ozodbek Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/">About</a></div>
                <div><a href="/blog/">Blog</a></div>
                <div><a href="/">Home</a></div>
            </div>
        </div>
        <div class="row aboutme">
            <div class="col-12">
                <h1>About me</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12">
                <p>Men Xayrullajonov Ozodbek 20 yoshdaman. <b>Men IT sohalarining Backend yo`nalishi bo`yicha dasturchiman </b>
                    Farg`ona shaxri Farg`ona tumani Log`on qishloqida istiqomat qilaman.
                    <br>
                    <br>
                    <center>
                    <div class="col-12 col-md-7 col-sm-12 header-img">
                       <img src="{% static '1_RJMxLdTHqVBSijKmOO5MAg.jpeg' %}" width="500" height="600" alt="">
                    </div>
                    </center>
                    <br>
                    <br>
                    <br>
                    <p>Men hozirgi kunda Toshkent Axborot Texnologiyalari Universiteti Farg`ona Filiali "Kompyuter injinering" yo`nalishining ikkinchi kurs talabasiman.</p>
                    <p>Kelajakda kuchli dasturlarni yaratish va kelajak yoshlarga o`z blimlarimni ulashishni niyat qilganman. </p>
                    <br>
                    <br>
                <center><div class="col-12 col-md-4 col-sm-12 header-img">
                    <img src="{% static 'image1-16.png' %}" alt="">
                </div></center>
            </div>
        </div>
    </div>
</body>
</html>